* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
*:focus {
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
  position: relative;
  top: 2px;
  margin-right: 9px;
}

html {
  --primary-color: black;
  --secondary-color: #ddd;
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rdt {
  width: 100%;
}
